// В этом файле должны быть стили для БЭМ-блока modal, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.js-modal-open {
  overflow: hidden;
}

.modal {

  $block-name:                &; // #{$block-name}__element

  display: none;
  position: fixed;
  z-index: $z-index-modal;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;

  .js-modal-open & {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(39, 44, 62,  0.7)
  }

  &__dialog {
    flex-shrink: 0;
    position: relative;
    width: 100%;
    margin: 0;

    @media (min-width: $screen-lg) {
      width: 400px;
      margin: auto;

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        padding: 2em 0;
      }

      #{$block-name}--open & {
        animation: modal-content-show $transition-time 1 both;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 100%;
    min-height: 100%;
    background-color: #f2e9f1;
    outline: 0;
  }

  &__header {
    flex-shrink: 0;
    padding: 0 40px 0 15px;
  }

  &__title {
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 24px;
    text-align: center;
    line-height: 1.2;
    line-height: 1.2;
    font-family: 'GeometriaMedium';
    color: currentColor;
  }

  &__close {
    position: absolute !important; // stylelint-disable-line  declaration-no-important
    top: 10px;
    right: 15px;
    width: 20px;
  }

  &__body {
    flex-grow: 1;
    padding: 0 15px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;

    & .form-control {
      display: flex;
      flex-direction: column;
    }
    & .form-radio {
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;
    }
    & input {
      border: 1px solid #7E2E84;
      line-height: 2rem;
      color: #7E2E84;
      outline: none;
      
      &:focus{
        border:2px solid #84097d;
      }
    }
    & input.button {
      background: #7e2e84;
      color: #ffffff;
      font-size: 14px;
      
      &:hover, &:active, &:focus {
        background-color: #84097d;
      }
    }
    & textarea {
      width: 100%;
      outline: none;
      border: 1px solid #7E2E84;
      min-height:77px;
      &:focus{
        border:2px solid #84097d;
      }
    }
    & .form-link{
      font-size: 12px;
      text-align: right;
      padding: 1rem 0;
    }
    & p {
      padding: 1rem 0;
    text-align: center;
    }
    & .form-agreement{
    font-size: 12px;
    text-align: justify;
    padding: 0.5rem 0 2rem 0;

    & input {
      margin-right: 10px;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    }

  }

  &__footer {
    flex-shrink: 0;
    padding: 15px;
  }

  &__backdrop {
    position: fixed;
    z-index: ($z-index-modal - 1);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, $opacity);

    @media (min-width: $screen-lg) {
      animation: modal-backdrop-show $transition-time 1;
    }
  }

  &--open {

    @media (min-width: $screen-lg) {
      display: flex;
      align-items: center;

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        align-items: flex-start;
      }
    }
  }
}



@keyframes modal-backdrop-show {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes modal-content-show {

  0% {
    opacity: 0;
    transform: translateY(-2em);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
