//- Все примеси в этом файле должны начинаться c имени блока (main-nav)
//- Структура меню — в main-nav.data.pug

mixin main-nav(selectedID)

  //- Принимает:
  //-   selectedID {string} - id пункта меню (по умолчанию — из main-nav.data.pug)
  //- Вызов:
        +main-nav('1')

  //- подключаем файл со структурой данных блока
  include main-nav.data.pug
  
  nav.main-nav#nav&attributes(attributes)
    .main-nav__row
      ul.main-nav__list
        li.main-nav__item.main-nav__item--active
          a(href="/about-company/") О компании
        li.main-nav__item
          a(href="/to-get-the-team/") Препараты 
        li.main-nav__item
          a(href="/to-get-the-team/") Статьи
        li.main-nav__item
          a(href="/to-get-the-team/") Фармаконадзор
        li.main-nav__item
          a(href="/to-get-the-team/") Контакты   
  
 
  block
