-
 var mainMenu = [
    {
      "id": "0",
      "name": "О компании",
      "url": "/about-company/",
            "childs": [
        {
          "id": "0-10",
          "name": "Знакомство с компанией",
          "url": "/about-company/",
        },
        {
          "id": "0-20",
          "name": "География услуг",
          "url": "/geography-of-services/s",
        },
        {
          "id": "0-30",
          "name": "География услуг",
          "url": "/geography-of-services/s",
        },
        {
          "id": "0-30",
          "name": "Рейтинги, Награды, Цифры",
          "url": "/about-company/facts/rating/"
        },
        {
          "id": "0-40",
          "name": "Новости",
          "url": "/news/"
        },
        {
          "id": "0-50",
          "name": "Карьера",
          "url": "/career/"
        },
        {
          "id": "0-60",
          "name": "Почему “Пепеляев Групп”?",
          "url": "/about-company/why/"
        },
        {
          "id": "0-70",
          "name": "Обращение Управляющего Партнера",
          "url": "/about-company/message-from-the-managing-partner/"
        },
        {
          "id": "0-80",
          "name": "Наш опыт",
          "url": "pages/some"
        },
      ]
    },
    {
      "id": "10",
      "name": "Услуги",
      "url": "/practice-and-industry/",
    },
    {
      "id": "20",
      "name": "Команда",
      "url": "/to-get-the-team/"
    },
    {
      "id": "30",
      "name": "База знаний",
      "url": "/analytics-and-brochures/",
      "childs": [
        {
          "id": "30-10",
          "name": "Обзоры",
          "url": "/analytics-and-brochures/legislation/"
        },
        {
          "id": "30-20",
          "name": "Алерты",
          "url": "/analytics-and-brochures/alerts/"
        },
        {
          "id": "30-30",
          "name": "Статьи",
          "url": "/analytics-and-brochures/articles/"
        },
        {
          "id": "30-40",
          "name": "Комментарии в СМИ",
          "url": "/analytics-and-brochures/comments-in-the-media/"
        },
        {
          "id": "30-50",
          "name": "Книги",
          "url": "/analytics-and-brochures/books/"
        },
        {
          "id": "30-60",
          "name": "Журналы",
          "url": "/analytics-and-brochures/journals/"
        },
        {
          "id": "30-70",
          "name": "Банкротство: Must Read",
          "url": "/analytics-and-brochures/bankruptcy-must-read/"
        },
        {
          "id": "30-80",
          "name": "Презентации экспертов",
          "url": "/analytics-and-brochures/presentations/"
        },
      ]
    },
    {
      "id": "40",
      "name": "COVID-19",
      "url": "/lp/legalissuesofcovid/",
    },
    {
      "id": "50",
      "name": "Мероприятия",
      "url": "/events/",
      "childs": [
        {
          "id": "50-10",
          "name": "Мероприятия",
          "url": "/events/",
        },
        {
          "id": "50-20",
          "name": "Видеозаписи",
          "url": "/events/video/",
        },
      ]
    },
    {
      "id": "60",
      "name": "Контакты",
      "url": "/contacts/",
      "childs": [
        {
          "id": "60-10",
          "name": "Москва",
          "url": "/contacts/moscow/",
        },
        {
          "id": "60-20",
          "name": "Санкт-Петербург",
          "url": "/contacts/sankt-peterburg/",
        },
        {
          "id": "60-30",
          "name": "Красноярск",
          "url": "/contacts/krasnoyarsk/",
        },
        {
          "id": "60-40",
          "name": "Южно-Сахалинск",
          "url": "/contacts/yuzhno-sakhalinsk/",
        },
        {
          "id": "60-50",
          "name": "Владивосток",
          "url": "/contacts/vladivostok/",
        },
        {
          "id": "60-60",
          "name": "Пекин",
          "url": "/contacts/peck/",
        },
        {
          "id": "60-70",
          "name": "Шанхай",
          "url": "/contacts/shanghai/",
        },
      ]
    },
  ];
 
  