-
 var mainMenu = [
    {
      "id": "10",
      "name": "О компании",
      "url": "index.html",
      
    },
    {
      "id": "20",
      "name": "Препараты",
      "url": "product.html",
    },
    {
      "id": "30",
      "name": "Статьи",
      "url": "article.html"
    },
    {
      "id": "40",
      "name": "Фармаконадзор",
      "url": "farm.html"
    },
     {
      "id": "40",
      "name": "Контакты",
      "url": "contact.html"
    },

  ];
 
  