// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {
  position: relative;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  max-width:100vw;
  background-color: $body-bg;
  padding-bottom:10px;
  
  
  &--fixed{
    position:fixed;
    top:-200px;
    right:0;
    left:0;
    max-width: 100vw;
    box-shadow: 0 3px 7px 0 rgba(0,0,0,.35);
  }

  &--open{
    position:fixed;
    top:0;
    right:0;
    left:0;
    max-width: 100vw;
    box-shadow: 0 3px 7px 0 rgba(0,0,0,.35);
    transition: top 0.5s linear;
  }

  &__inner {
    @include container();
  }

  &__grid {
    @include row();
    align-items: center;
  }
}
