//- Стандартный шаблон страницы

include mixins.pug

doctype html
html(class='page  no-js', lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- Edge и ряд мобильных браузеров слишком умны. Отключим это.
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')
    block meta
      title Home

    block head
      link(rel='stylesheet', href='css/style.css')
      script
        include ../js/head-script.js

  body
    noscript У вас отключен JavaScript. Это пугает.

    .page__inner
      .page__content
        //- header
        +page-header()
          +logo('/')
            svg(class="logo__svg")
             use(xlink:href="img/sprite.svg#logo") 
            h1.logo__title Пепеляев Групп
          //-header-menu
          +header-menu()
            ul.header-menu__list
              li#search-toggler.header-menu__item
                svg(class="icons" width="18px" height="18px")
                  use(xlink:href="img/sprite.svg#search")
                a.header-menu__link.header-menu__search(href="#") <span>Поиск</span>
              li.header-menu__item
                a.header-menu__link.header-menu__phone(href="tel:+74957670007")
                  svg(class="icon-fill" width="20px" height="20px")
                    use(xlink:href="img/sprite.svg#phone")
                  <span>+7 (495) 767-00-07</span>
              li.header-menu__item
                a#aut_btn.header-menu__link.header-menu__link.header-menu__aut(href="#aut" data-toggle="modal" data-target="#aut") 
                  svg(class="icon-fill" width="19px" height="19px")
                    use(xlink:href="img/sprite.svg#aut")
                  <span> Личный кабинет</span>
              ll.header-menu__item
                a#header-menu__language.header-menu__link.header-menu__language(href="#")
                  svg(class="flags" width="20px" height="20px")
                    use(xlink:href="img/sprite.svg#russia")
                  <span> Русский </span>
                  svg(id="arrow_down" class="icons arrow_down" width="8px" height="8px")
                    use(xlink:href="img/sprite.svg#arrow_down")
                ul#language-list.header-menu__language-list
                  li
                    a.flagsen(href="#") 
                      svg(class="flags" width="18px" height="18px")
                        use(xlink:href="img/sprite.svg#en")
                      span English
                  li
                    a.flagscn(href="#")
                      svg(class="flags" width="18px" height="18px")
                        use(xlink:href="img/sprite.svg#china")
                      span 中文
                  li
                    a.flagskr(href="#")
                      svg(class="flags" width="18px" height="18px")
                        use(xlink:href="img/sprite.svg#south-korea")
                      span 한국어
                  li
                    a.flagsde(href="#")
                      svg(class="flags" width="18px" height="18px")
                        use(xlink:href="img/sprite.svg#ge")
                      span Deutsch
                  li
                    a.flagsit(href="#")
                      svg(class="flags" width="18px" height="18px")
                        use(xlink:href="img/sprite.svg#italy")
                      span Italiano
                  li
                    a.flagsesp(href="#")
                      svg(class="flags" width="18px" height="18px")
                        use(xlink:href="img/sprite.svg#spain")
                      span Español
                  li
                    a.flagsesp(href="#")
                      svg(class="flags" width="18px" height="18px")
                        use(xlink:href="img/sprite.svg#france")
                      span Français
                  li
                    a.flagsjp(href="#") 
                      svg(class="flags" width="18px" height="18px")
                        use(xlink:href="img/sprite.svg#japan")
                      span 日本語
                  li
                    a.flagsport(href="#") 
                      svg(class="flags" width="18px" height="18px")
                        use(xlink:href="img/sprite.svg#portugal")
                      span Português
                  li
                    a.flagsturk(href="#")
                      svg(class="flags" width="18px" height="18px")
                        use(xlink:href="img/sprite.svg#turkey")
                      span Türkçe
          //- navigation
          block nav
          //- search
          +search()
        .profile-header
          .profile-header__inner
            .profile-header__row
              h1 Профиль пользователя
              .profile-header__content
                a.profile-header__link(href="").proflile-header__name Иван Иванов
                a.profile-header__logout(href="") 
                  svg(class="close" width="16px" height="16px")
                    use(xlink:href="img/sprite.svg#close")
                  span Выйти
            a.profile-header__back(href="#")
              svg(class="icons" width="13px" height="12px")
                    use(xlink:href="img/sprite.svg#arrow-min")
              span Вернуться к списку мероприятий 
        .anons
          .anons__inner
            .anons__content
              .anons__subtitle Вебинар
              .anons__title ТЕСТ
            .anons__footer
              .anons_adress МОСКВА, УЛИЦА, ДОМ
              .anons_date 15 ДЕКАБРЯ
        section.participants
          .participants__inner
            h3 Участники мероприятия
            .participants__row
              .participants__col
                .participants__card
                  .participants__header Иван Иванов
                  .participants__content
                    ul.participants__list
                      li.participants__item
                        .participants__position-name Должность:
                        .participants__position-value Бухгалтер
                      li.participants__item  
                        .participants__email-name Email:
                        .participants__email-value ivan-ivanov@mail.com
                      li.participants__item
                        .participants__phone-name Телефон:
                        .participants__phone-value 123456789
                    .participants__controls
                      a(href="#").participants__edit
                        svg(class="icons" width="44px" height="44px")
                          use(xlink:href="img/sprite.svg#edit")
                      a(href="#").participants__close
                        svg(class="icons" width="44px" height="44px")
                          use(xlink:href="img/sprite.svg#edit-close")
                    .participants__footer Записан(а)

              .participants__col
                a(href="#").participants__add
                  svg(class="icons" width="45px" height="44px")
                    use(xlink:href="img/sprite.svg#users")
        section.documents
          .documents__inner
            h3 Документы
            .documents__row
              .documents__company
                .documents__title Документы для оплаты от юридического лица:
                .documents__row
                  .documents__col
                    .documents__card
                      svg(class="icons" width="42px" height="44px")
                        use(xlink:href="img/sprite.svg#docs")
                      a(href="#") Сформировать счет
                  .documents__col
                    .documents__card
                      svg(class="icons" width="42px" height="44px")
                        use(xlink:href="img/sprite.svg#docs")
                      a(href="#") Сформировать договор
              .documents__individual
                .documents__title Документы для оплаты от физического лица:
                .documents__row
                  .documents__col
                    .documents__card
                      svg(class="icons" width="42px" height="44px")
                          use(xlink:href="img/sprite.svg#docs")
                      a(href="#") Сформировать счет
        .warning
          .warning__inner
            .warning__content
              .warning_text
                p <span>!</span> Для получения доступа к документам заполните недостающие данные в профиле
              a.warning_link(href="#") Перейти в профиль
        section.materials
          .materials__inner
            h3 Материалы мероприятия
            .materials__row
              .materials__col
                a(href="#")
                  svg(class="icons" width="18px" height="18px")
                    use(xlink:href="img/sprite.svg#plus")
                  span Н. Файзрахманова_ Правильное и неправильное дробление_22.10.20
              .materials__col
                a(href="#")
                  svg(class="icons" width="18px" height="18px")
                    use(xlink:href="img/sprite.svg#plus")
                  span Н. Файзрахманова_ Правильное и неправильное дробление_22.10.20
              .materials__col
                a(href="#")
                  svg(class="icons" width="18px" height="18px")
                    use(xlink:href="img/sprite.svg#plus")
                  span Н. Файзрахманова_ Правильное и неправильное дробление_22.10.20
              .materials__col
                a(href="#")
                  svg(class="icons" width="18px" height="18px")
                    use(xlink:href="img/sprite.svg#plus")
                  span Н. Файзрахманова_ Правильное и неправильное дробление_22.10.20
              .materials__col
                a(href="#")
                  svg(class="icons" width="18px" height="18px")
                    use(xlink:href="img/sprite.svg#plus")
                  span Н. Файзрахманова_ Правильное и неправильное дробление_22.10.20
              .materials__col
                a(href="#")
                  svg(class="icons" width="18px" height="18px")
                    use(xlink:href="img/sprite.svg#plus")
                  span Н. Файзрахманова_ Правильное и неправильное дробление_22.10.20
              .materials__col
                a(href="#")
                  svg(class="icons" width="18px" height="18px")
                    use(xlink:href="img/sprite.svg#plus")
                  span Н. Файзрахманова_ Правильное и неправильное дробление_22.10.20
              .materials__col
                a(href="#")
                  svg(class="icons" width="18px" height="18px")
                    use(xlink:href="img/sprite.svg#plus")
                  span Н. Файзрахманова_ Правильное и неправильное дробление_22.10.20
              .materials__col
                a(href="#")
                  svg(class="icons" width="18px" height="18px")
                    use(xlink:href="img/sprite.svg#plus")
                  span Н. Файзрахманова_ Правильное и неправильное дробление_22.10.20
              .materials__col
                a(href="#")
                  svg(class="icons" width="18px" height="18px")
                    use(xlink:href="img/sprite.svg#plus")
                  span Н. Файзрахманова_ Правильное и неправильное дробление_22.10.20
              .materials__col
                a(href="#")
                  svg(class="icons" width="18px" height="18px")
                    use(xlink:href="img/sprite.svg#plus")
                  span Н. Файзрахманова_ Правильное и неправильное дробление_22.10.20
              .materials__col
                a(href="#")
                  svg(class="icons" width="18px" height="18px")
                    use(xlink:href="img/sprite.svg#plus")
                  span Н. Файзрахманова_ Правильное и неправильное дробление_22.10.20
              .materials__col
                a(href="#")
                  svg(class="icons" width="18px" height="18px")
                    use(xlink:href="img/sprite.svg#plus")
                  span Н. Файзрахманова_ Правильное и неправильное дробление_22.10.20
              .materials__col
                a(href="#")
                  svg(class="icons" width="18px" height="18px")
                    use(xlink:href="img/sprite.svg#plus")
                  span Н. Файзрахманова_ Правильное и неправильное дробление_22.10.20
              .materials__col
                a(href="#")
                  svg(class="icons" width="18px" height="18px")
                    use(xlink:href="img/sprite.svg#plus")
                  span Н. Файзрахманова_ Правильное и неправильное дробление_22.10.20
              .materials__col
                a(href="#")
                  svg(class="icons" width="18px" height="18px")
                    use(xlink:href="img/sprite.svg#plus")
                  span Н. Файзрахманова_ Правильное и неправильное дробление_22.10.20
            .materials__footer
              a.defoult-btn(href="#") Задать вопрос модератору
              a.alt-btn(href="#") Оставить отзыв на событие
        section.sertificats
          .sertificats__inner
            h3 Ваши сертификаты
            .sertificats__row
              .sertificats__col
                .sertificats__card
                  svg(class="icons" width="62px" height="62px")
                    use(xlink:href="img/sprite.svg#sertificat")
                  a.defoult-btn.defoult-btn--disabled(href="#") Скачать сертификат
                  .sertificats__tooltip <span>!</span> Перед тем, как мы выдадим Вам сертификат, просьба оценить мероприятие и оставить отзыв
              .sertificats__col
                .sertificats__card
                  svg(class="icons" width="62px" height="62px")
                    use(xlink:href="img/sprite.svg#sertificat")
                  a.defoult-btn.defoult-btn--disabled(href="#") Скачать сертификат
                  .sertificats__tooltip <span>!</span> Перед тем, как мы выдадим Вам сертификат, просьба оценить мероприятие и оставить отзыв
              .sertificats__col
                .sertificats__card
                  svg(class="icons" width="62px" height="62px")
                    use(xlink:href="img/sprite.svg#sertificat")
                  a.defoult-btn(href="#") Скачать сертификат
                  .sertificats__tooltip <span>!</span> Перед тем, как мы выдадим Вам сертификат, просьба оценить мероприятие и оставить отзыв
              .sertificats__col
                .sertificats__card
                  svg(class="icons" width="62px" height="62px")
                    use(xlink:href="img/sprite.svg#sertificat")
                  a.defoult-btn.defoult-btn--disabled(href="#") Скачать сертификат
                  .sertificats__tooltip <span>!</span> Перед тем, как мы выдадим Вам сертификат, просьба оценить мероприятие и оставить отзыв
              .sertificats__col
                .sertificats__card
                  svg(class="icons" width="62px" height="62px")
                    use(xlink:href="img/sprite.svg#sertificat")
                  a.defoult-btn.defoult-btn--disabled(href="#") Скачать сертификат
                  .sertificats__tooltip <span>!</span> Перед тем, как мы выдадим Вам сертификат, просьба оценить мероприятие и оставить отзыв
        section.managers
          .managers__inner
            h3 Ответственный менеджер
            .managers__row
              .managers__col
                .managers__card
                  .manafers__img
                    img(width="109px" height="109px"  src="img/photo-1.png" alt="Папельникова Олеся")
                  .managers__content
                    .managers__name Папельникова Олеся
                    .managers__position Старший менеджер по маркетингу
                    .managers__mail
                      a(href="mailto:o.papelnikova@pgplaw.ru")
                        svg(class="icons" width="12px" height="10px")
                          use(xlink:href="img/sprite.svg#mail")
                        span o.papelnikova@pgplaw.ru
             
                        




      
          
      //-footer    
      .page__footer-wrapper
        +page-footer()
          block footer
          .footer__inner
              .footer__row
                .footer__column1
                  .footer__logo
                    svg(class="icons" width="62px" height="43px")
                              use(xlink:href="img/sprite.svg#logo_bottom")
                    .footer__copyright
                      span © 2002-2020 PEPELIAEV GROUP
                      a(href="#") юридические услуги
                  .footer__adress Россия, 125047, г. Москва,<br>ул. 3-я Тверская-Ямская, д. 39, стр.1
                .footer__column2
                  .footer__contacts 
                    a(href="tel:+74957670007") <span> Тел.:</span> +7 (495) 767 00 07
                    a(href="mailto:info@pgplaw.ru") <span> E-mail:</span> info@pgplaw.ru
                  .footer__feedback
                    a(href="#feedback" data-toggle="modal" data-target="#feedback")
                     svg(class="icons" width="18px" height="18px")
                              use(xlink:href="img/sprite.svg#callback") 
                     span Заказать звонок
                    a(href="https://www.pgplaw.ru/login/")
                     svg(class="icons" width="20px" height="17px")
                              use(xlink:href="img/sprite.svg#microphone") 
                     span Подписаться на рассылку
                     

                .footer__column3
                  .footer__sotials
                   .footer__title Оставаться на связи
                   .footer__icons
                      a(href="https://www.facebook.com/PepeliaevGroup")
                        svg(class="icons" width="11px" height="23px")
                          use(xlink:href="img/sprite.svg#fb") 
                      a(href="http://www.linkedin.com/company/pepeliaev-group")
                        svg(class="icons" width="18px" height="18px")
                          use(xlink:href="img/sprite.svg#insta") 
                      a(href="https://vk.com/pginternship")
                        svg(class="icons" width="19px" height="12px")
                          use(xlink:href="img/sprite.svg#vk") 
                      a(href="https://www.youtube.com/channel/UCTI33e7sATSoEqzzZdZrXpA")
                        svg(class="icons" width="16px" height="19px")
                          use(xlink:href="img/sprite.svg#youtube")
                      a(href="https://www.pgplaw.ru/news/press-releases/pepeliaev-group-in-telegram")
                        svg(class="icons" width="18px" height="15px")
                          use(xlink:href="img/sprite.svg#telegram") 
                  .footer__info
                    a(href="/legal-information/") Правовая информация
                    a(href="/sitemap.php") Карта сайта
                    a(href="/personal-data/") Политика обработки персональных данных

                    
            
    +modal("aut","Вход|Регистрация")
        .modal__body 
          form#login_form.modal__form
            input(name="BACK_URL" type="hidden" value="/login/")
            .form-control
              label(for="LOGIN") E-mail
              input#LOGIN.require(required="required" name="LOGIN" type="text" autocomplete="off")
            .form-control
              label(for="PASSWORD") Пароль
              input#PASSWORD.require(required="required" name="PASSWORD" type="password" autocomplete="off")
            .form-control
              a.form-link(href="/login/register.php?forgot_password=yes") Забыли пароль?
            .form-control
              input.button(type="submit" value="Войти")
            .form-control
              p
               a(href="https://pgplaw.com/login/register.php?register=yes") Click here
               span  to subscribe our English newsletters
    
    +modal("feedback","Заказать звонок")
        .modal__body 
          form#feedback_form.modal__form
            .form-control
              label(for="lastname") Фамилия
              input#lastname.require(required="required" name="lastname" type="text" autocomplete="off")
            .form-control
              label(for="name") Имя
              input#name.require(required="required" name="name" type="text" autocomplete="off")
            .form-control
              label(for="phone") Телефон с кодом страны и города
              input#phone.require(required="required" name="phone" type="text" autocomplete="off")
            .form-radio
              input#property.require(required="required" name="property" type="radio" autocomplete="off")
              label(for="property") Физическое лицо
              input#company.require(required="required" name="property" type="radio" autocomplete="off")
              label(for="company") Юридическое лицо
            .form-control
            label(for="message") Суть вашего вопроса
              textarea#message(name="message" required="required") 
             
            .form-control
              input.button(type="submit" value="Заказать звонок")
            .form-agreement
              input#agreement.required(type="checkbox" required="required" name="agreement" checked="checked" )
              label(for="agreement") «Настоящим соглашаюсь на обработку ООО «Пепеляев Групп» моих персональных данных, указанных в заполненной мной форме на сайте <a href="www.pgplaw.ru">www.pgplaw.ru</a> в целях установления со мной контакта» 
             
    block page-bottom
      script(src='js/bundle.js')

