extends ../pug/layout.pug

block meta
  title Компания ПОЛИЛАБ
  meta(name='keywords', content='ключевики')
  meta(name='description', content='описание компании')
  <link rel="icon" type="image/svg+xml" href="img/favicon.svg">
  <link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,400&display=swap" rel="stylesheet">

//- block append head
//-   link(rel='stylesheet', href='css/some.css')




block nav
  +main-nav('10')



//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
