extends ../pug/layout.pug

block meta
  title Пепеляев Групп
  meta(name='keywords', content='ведущая юридическая компания России; юридические услуги крупным компаниям')
  meta(name='description', content='Ведущая российская юридическая компания, правовые услуги бизнесу во всех регионах России, странах СНГ и за рубежом')
  <link rel="icon" type="image/svg+xml" href="img/favicon.svg">

//- block append head
//-   link(rel='stylesheet', href='css/some.css')




block nav
  +main-nav('10')



//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
