//- Все примеси в этом файле должны начинаться c имени блока (carousel)

mixin carousel(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +carousel('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' carousel--' + modsList[i].trim();
      }
    }

  .carousel(class=allMods)&attributes(attributes)
    .carousel__inner
     .splide#carousel
      .carousel__store-desckription
      .splide__track
       ul.splide__list
        li.splide__slide
         figure
          .slide-desckription
            .slide-desckription__wrapper
              h3.slide-desckription__title Компания «ПОЛИФАРМ»
              h4.slide-desckription__text Исследования и разработка <br><span>инновационных</span> современных ЛЕКАРСТВЕННЫх СРЕДСТВ
              a.btn.defoult-btn(href="#feedback" data-toggle="modal" data-target="#ack") Задать вопрос
            .header__animate ИННОВАЦИИ
              
              .count__count 
                .count__circle
                .play__circle-green 
                 
                .play__circle-blue
                .circle__inner
              .hexagon-container
                .hexagon
                  .hexagon__wrapper
                    span.one.h6
                    span.two.h3
                .hexagon
                  .hexagon__wrapper
                    span.one.h1
                    span.two.h4
                .hexagon 
                  .hexagon__text ОТВЕТСТВЕННОСТЬ 
                  .hexagon__wrapper
                    span.one.h5
                    span.two.h2
              .hexagon-container.hexagon-container--one
                .hexagon--one
                  .hexagon--one__wrapper
                    span.one.h6
                    span.two.h3
                .hexagon--one
                  .hexagon--one__wrapper
                    span.one.h1
                    span.two.h4
                .hexagon--one 
                  .hexagon--one__text БЕЗОПАСНОСТЬ
                  .hexagon--one__wrapper
                    span.one.h5
                    span.two.h2
        li.splide__slide
         figure
          .slide-desckription
            .slide-desckription__wrapper
              h3.slide-desckription__title Компания «ПОЛИФАРМ»
              h4.slide-desckription__text Исследования и разработка <br><span>инновационных</span> современных ЛЕКАРСТВЕННЫх СРЕДСТВ
              a.btn.defoult-btn(href="#") Задать вопрос
            .header__animate 
              img(src="img/product.png")
        li.splide__slide
         figure
          .slide-desckription
            .slide-desckription__wrapper
              h3.slide-desckription__title Компания «ПОЛИФАРМ»
              h4.slide-desckription__text Исследования и разработка <br><span>инновационных</span> современных ЛЕКАРСТВЕННЫх СРЕДСТВ
              a.btn.defoult-btn(href="#") Задать вопрос
            .header__animate 
            
              
      block


