// В этом файле должны быть стили для БЭМ-блока logo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.logo {

  $block-name:                &; // #{$block-name}__element
  @include col(lg, 2);
  @include col(md, 2);
  @include col(sm, 12);
  white-space: nowrap;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  text-decoration: none;
  color: $black;

  &__title {
    position: absolute;
    visibility: hidden;
    

    strong {
      font-family: $font-family-alt;
      font-size: 1.7em;
      line-height: 0.8em;
      font-weight: 900;
    }
  }
  &__svg {
    display: inline-block;
    width: 155px;
    min-width: 155px;
    height: 72px;
    fill:#9D1D96;
    
    &:hover,
    &:focus,
    &:active {
      fill:#84097d;
      }
  }

  &:hover,
  &:focus,
  &:active {
    color: $black;
    &__svg {
      fill:#80127a;
    }
  }
}
@media (max-width:768px){
  .logo {
   
    &__svg {
      transform: scale(0.7);

        }
    }
  } 


  
  
